html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
    display: flex;
    width: 100vw;
    overflow: hidden;
}

#wrapper > * {
 flex-grow: 1;
 flex-basis: 0;
}

canvas {
    display: none;
}

img {
  width: 100%;
}

#capture {
  position: relative;
}

#top-text, #bottom-text {
  position: absolute;
  text-align: center;
}

#bottom-text {
  bottom: 4px;
}